/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "am335x-d850basis053.dtsi"

&sgx {
	status = "okay";
};

/ {

	model = "D850BASIS053 D850ANPASS062 v0.2";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";

	pru_adc {
		status = "okay";
		compatible = "pru-adc";
		pinctrl-names = "default";
		pinctrl-0 = <&pru_adc_pins>;
		ti,rproc = <&pru1>;

		/* BONE_P8_26 gpio1_29 enable = Port Low  && SYS_RESET -> IO_EN*/
		pru,io-enable-gpios = <&gpio1 29 GPIO_ACTIVE_HIGH>;

		pru,adc-1-mux-a-gpios = <&pcf8575_21 0 GPIO_ACTIVE_HIGH>;
		pru,adc-1-mux-b-gpios = <&pcf8575_21 1 GPIO_ACTIVE_HIGH>;
		pru,adc-1-gain0-gpios = <&pcf8575_21 3 GPIO_ACTIVE_HIGH>;
		pru,adc-1-gain1-gpios = <&pcf8575_21 2 GPIO_ACTIVE_HIGH>;

		pru,adc-2-mux-a-gpios = <&pcf8575_21 4 GPIO_ACTIVE_HIGH>;
		pru,adc-2-mux-b-gpios = <&pcf8575_21 5 GPIO_ACTIVE_HIGH>;
		pru,adc-2-gain0-gpios = <&pcf8575_21 7 GPIO_ACTIVE_HIGH>;
		pru,adc-2-gain1-gpios =	<&pcf8575_21 6 GPIO_ACTIVE_HIGH>;

		pru,adc-3-mux-a-gpios = <&pcf8575_21 8 GPIO_ACTIVE_HIGH>;
		pru,adc-3-mux-b-gpios = <&pcf8575_21 9 GPIO_ACTIVE_HIGH>;
		pru,adc-3-gain0-gpios = <&pcf8575_21 11 GPIO_ACTIVE_HIGH>;
		pru,adc-3-gain1-gpios = <&pcf8575_21 10 GPIO_ACTIVE_HIGH>;

		pru,adc-4-mux-a-gpios = <&pcf8575_21 12 GPIO_ACTIVE_HIGH>;
		pru,adc-4-mux-b-gpios = <&pcf8575_21 13 GPIO_ACTIVE_HIGH>;
		pru,adc-4-gain0-gpios = <&pcf8575_21 15 GPIO_ACTIVE_HIGH>;
		pru,adc-4-gain1-gpios = <&pcf8575_21 14 GPIO_ACTIVE_HIGH>;

		pru,adc-5-mux-a-gpios = <&pcf8575_22 0 GPIO_ACTIVE_HIGH>;
		pru,adc-5-mux-b-gpios = <&pcf8575_22 1 GPIO_ACTIVE_HIGH>;
		pru,adc-5-gain0-gpios = <&pcf8575_22 3 GPIO_ACTIVE_HIGH>;
		pru,adc-5-gain1-gpios = <&pcf8575_22 2 GPIO_ACTIVE_HIGH>;

		pru,adc-6-mux-a-gpios = <&pcf8575_22 4 GPIO_ACTIVE_HIGH>;
		pru,adc-6-mux-b-gpios = <&pcf8575_22 5 GPIO_ACTIVE_HIGH>;
		pru,adc-6-gain0-gpios = <&pcf8575_22 7 GPIO_ACTIVE_HIGH>;
		pru,adc-6-gain1-gpios = <&pcf8575_22 6 GPIO_ACTIVE_HIGH>;
	};

	leds {
		compatible = "gpio-leds";

		adc_1 {
			label = "adc_1";
			gpios = <&pcf8575_22 8 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat ";
		};

		adc_2 {
			label = "adc_2";
			gpios = <&pcf8575_22 9 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
		adc_3 {
			label = "adc_3";
			gpios = <&pcf8575_22 10 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
		adc_4 {
			label = "adc_4";
			gpios = <&pcf8575_22 11 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
		adc_5 {
			label = "adc_5";
			gpios = <&pcf8575_22 12 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
		adc_6 {
			label = "adc_6";
			gpios = <&pcf8575_22 13 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};
};

&am33xx_pinmux {
	pinctrl-names = "default";

	pru_adc_pins: pru_adc_pins {
		pinctrl-single,pins = <
			AM33XX_IOPAD(BONE_P8_20, PIN_OUTPUT | MUX_MODE5)				/* gpio1_31.pr1_pru1_pru_r30_13  PRU SCLK */
			AM33XX_IOPAD(BONE_P8_21, PIN_OUTPUT | MUX_MODE5)				/* gpio1_30.pr1_pru1_pru_r30_12  ADS DIN */
			AM33XX_IOPAD(BONE_P8_29, PIN_OUTPUT | MUX_MODE5)				/* gpio2_23.pr1_pru1_pru_r30_9 PRU CONVS */

			AM33XX_IOPAD(BONE_P8_45, PIN_INPUT | MUX_MODE6) 				/* gpio2_6.pr1_pru1_pru_r31_0 ADS DOUT_1 via IO_EN */
			AM33XX_IOPAD(BONE_P8_46, PIN_INPUT | MUX_MODE6) 				/* gpio2_7.pr1_pru1_pru_r31_1 ADS DOUT_2 via IO_EN*/
			AM33XX_IOPAD(BONE_P8_43, PIN_INPUT | MUX_MODE6)					/* gpio2_8.pr1_pru1_pru_r31_2 ADS DOUT_3 via IO_EN*/
			AM33XX_IOPAD(BONE_P8_44, PIN_INPUT | MUX_MODE6)					/* gpio2_9.pr1_pru1_pru_r31_3 ADS DOUT_4 via IO_EN */
			AM33XX_IOPAD(BONE_P8_41, PIN_INPUT | MUX_MODE6)					/* gpio2_10.pr1_pru1_pru_r31_4 ADS DOUT_5 via IO_EN */
			AM33XX_IOPAD(BONE_P8_42, PIN_INPUT | MUX_MODE6)					/* gpio2_11.pr1_pru1_pru_r31_5 ADS DOUT_6 via IO_EN */
		>;
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	clock-frequency = <100000>;

	/* from here we have a ANPASSKARTE */

	eeprom@52 {
		compatible = "at,24c256";
		reg = <0x52>;
	};

	pcf8575_21: gpio@21 {
		compatible = "nxp,pcf8575";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		lines-initial-states = <0x0>;
		gpio-line-names = "MUX_A_1", "MUX_B_1", "MAIN_G1_1", "MAIN_G0_1",
						  "MUX_A_2", "MUX_B_2", "MAIN_G1_2", "MAIN_G0_2",
						  "MUX_A_3", "MUX_B_3", "MAIN_G1_3", "MAIN_G0_3",
						  "MUX_A_4", "MUX_B_4", "MAIN_G1_4", "MAIN_G0_4";
	};

	pcf8575_22: gpio@22 {
		compatible = "nxp,pcf8575";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		lines-initial-states = <0xF3F3>;
		gpio-line-names = "MUX_A_5", "MUX_B_5", "MAIN_G1_5", "MAIN_G0_5",
						  "MUX_A_6", "MUX_B_6", "MAIN_G1_6", "MAIN_G0_6",
						  "LED_1", "LED_2", "LED_3", "LED_4", "LED_5", "LED_6", "", "";
	};

	pcf8575_27: gpio@27 {
		compatible = "nxp,pcf8575";
		reg = <0x27>;
		gpio-controller;
		#gpio-cells = <2>;
		lines-initial-states = <0x0000>;
		gpio-line-names = "ADAPT_ID_0", "ADAPT_ID_1", "ADAPT_ID_2", "ADAPT_ID_3",
						  "ADAPT_VAR_0", "ADAPT_VAR_1", "ADAPT_VAR_2", "ADAPT_VAR_3",
						  "P5", "P3", "P1", "P2", "P4", "P6", "", "";
	};
};

&pru1 {
	firmware-name = "pru/d850-pru-adc-062.out";
};
